{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
  {% endif %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/swfobject.js"></script>
    <script type="text/javascript">
        function play() {
            var dewp = document.getElementById("dewplayer");
            if(dewp!=null) dewp.dewplay();}

        function pause() {
            var dewp = document.getElementById("dewplayer");
            if(dewp!=null) dewp.dewpause();}

        function playf(file) {
            var dewp = document.getElementById("dewplayer");
            if(dewp!=null) {
                dewp.dewset(file);}}

        function set(file, text, el) {
            t = $('#content h1')[0]
            t.innerHTML = text
            if($.data(document, "current") == undefined){
                var current = el.children();
                current.addClass('play');
                current[0].src='/media/img/pause.png';
                $.data(document,"current",current);
                playf(file);
                return false;}
            if($.data(document, "current")[0] == el.children()[0]){
                current = el.children();
                if(current.hasClass('play')) {
                    current.removeClass('play');
                    current[0].src='/media/img/play.png';
                    pause();}
                else {
                    current.addClass('play');
                    current[0].src='/media/img/pause.png';
                    play();}}
            else {
                old = $.data(document, "current")
                old.removeClass('play');
                old[0].src='/media/img/play.png';
                var current = el.children();
                $.data(document,"current",current);
                current.addClass('play');
                current[0].src='/media/img/pause.png';
                playf(file);}}
    </script>
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../">
        {% trans "Home" %}
      </a>
       &rsaquo;
       <a href="../">
         {{ app_label|capfirst }}
      </a>
      &rsaquo;
      {{ cl.opts.verbose_name_plural|capfirst }}
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    {% block object-tools %}
    <div class="object-tools">
            <object data="{% admin_media_prefix %}player.swf" width="250" height="20" name="dewplayer" id="dewplayer" type="application/x-shockwave-flash">
                <param name="movie" value="{% admin_media_prefix %}player.swf" />
                <param name="flashvars" value="mp3=mp3/test1.mp3&javascript=on" />
                <param name="wmode" value="transparent" />
            </object>

                   </div>
    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
  </div>
  <script type="text/javascript">
    var flashvars = {
            mp3: "",
            javascript: "on"
        };
    var params = {
            wmode: "transparent"
        };
    var attributes = {
            id: "dewplayer"
        };
    swfobject.embedSWF("{% admin_media_prefix %}player.swf", "dewplayer_content", "200", "20", "9.0.0", false, flashvars, params, attributes);
  </script>

{% endblock %}
